.delete-button{
    background: transparent;
    color: #F15025;
    padding: 10px 20px;
    margin: -10px 0;
    display: block;
    border-radius: 5px;
    width: 100%;
    font-family: 'Poligon', sans-serif;
    transition: .3s ease-out;
    cursor: pointer;
    text-decoration: underline;
}