.add-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 10px 0;
    & .add-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        background: #3772FF;
        border-radius: 50%;
        height: 36px;
        width: 36px;
        margin-right: 20px;
    }
}

@media(min-width: 1050px){
    .add-button{
        padding: 50px 0 30px 0;
        justify-content: flex-start;
    }
}