.button{
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    &.default{
        background: #3772FF;
        color: #FAF6F0;
    }
    &.outlined{
        border: 1px solid #3772FF;
        background: transparent;
        text-align: center;
        display: block;
    }
    &.delete{
        background: #F15025;
        color: #FCFCFC;
    }
}
.button{
    background: red;
}