.card{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    & .card-cover{
        height: 100px;
        width: 100px;
        margin-right: 20px;
    }
    & .card-description{
        display: grid;
        gap: 5px;
    }
}

@media(min-width: 1050px){
    .card{
        & .card-cover{
            height: 150px;
            width: 150px;
        }
        & .card-description{
            gap: 10px;
        }
    }
}