.back{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    margin-top: 20px;
    background: #FCFCFC;
    border-radius: 50%;
    position: fixed;
    top: 92.4px;
    left: 20px;
    z-index: 99;
    box-shadow: 0 0 5px rgba(60, 60, 60, 0.2);
    & .back-icon{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.add-page{
    & .back{
        margin: 20px 0;
    }
}
