.tabs{
    padding: 5px 0;
    border: solid 1px #D0CCC7;
    border-radius: 15px;
    display: inline-block;
    & a{
        padding: 0 20px;
        color: #3C3B36;
        &:first-child{
            border-right: solid 1px #D0CCC7;
        }
        &.active{
            font-weight: 700;
        }
    }
}