.tabs{
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 5px 0;
    margin: 20px 0;
    border: solid 1px #D0CCC7;
    border-radius: 15px;
    background: #FAF6F0;
    box-shadow: 0 0 30px rgba(60, 59, 54, 0.1); 
    display: inline-block;
    z-index: 90;
    & a{
        padding: 0 20px;
        color: #3C3B36;
        &:first-child{
            border-right: solid 1px #D0CCC7;
        }
        &.active{
            font-weight: 700;
        }
    }
}