.book-card{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 20px 0;
    border-bottom: solid 1px #E3E3E3;
    &:last-child{
        border-bottom: none;
    }
    & .card-cover{
        display: flex;
        & img{
            height: 100px;
        }
    }
}

a.book-card{
    color: #3C3B36;
}
.home{
    & .book-card{
        &:first-child{
            padding-top: 76.2px;
        }
    }
}

@media(min-width: 1050px){
    .book-card{
        grid-template-columns: 1fr 6fr;
        &:first-child{
            padding-top: 50px;
        }
        &:last-child{
            padding-bottom: 50px;
        }
    }
    .home{
        & .book-card{
            &:first-child{
                padding-top: 50px;
            }
        }
    }
}
