footer{
    padding: 20px 0;
    margin: 0 20px;
    border-top: 1px solid #E3E3E3;
    display: grid;
    gap: 15px;
    align-items: center;
    justify-items: center;
    & p{
        font-size: 14px;
    }
}

@media(min-width: 1050px){
    footer{
        margin-top: 0;
    }
}