.search-section.active{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.search-section{
    & .card{
        grid-template-columns: 1fr 5fr;
        & .card-cover{
            & img{
                height: 50px;
            }
        }
    }
}
.search{
    padding: 15px 30px;
    border-radius: 50px;
    border: 1px solid #E3E3E3;
    background: #FCFCFC;
    width: 100%;
    margin: 1px;
    &:focus-visible{
        border: 2px solid #3772FF !important;
        margin: 0;
    }
}

.search-card{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    padding: 5px;
    & .card-cover{
        & img{
            height: 70px;
        }
    }
}
.results.active{
    padding-top: 20px;
    overflow-y: scroll;
    height: 100%;
    max-height: calc(100vh - 92.4px);
}