@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* RESET */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
}

ul,
ul li{
    list-style: none;
}
a{text-decoration: none;}

img{
    max-width: 100%;
    height: auto;
}

/* GENERAL */
body{
    font-family: 'Poligon', sans-serif;
    background: #FCFCFC;
    color: #3C3B36;
    & a{
        color: #3C3B36;
    }
}

/* TYPOGRAPHY */
h1{
    font-size: 36px;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 36px
}
h2{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 20px;
    padding-bottom: 5px;
}
h3{
    font-size: 18px;
    font-weight: 500;
    &.text-with-line {
        width: 100%; 
        text-align: center; 
        border-bottom: 0.7px solid #E3E3E3; 
        line-height: 0.1em;
        margin: 10px 0 20px;
        & span { 
            background: #FCFCFC; 
            padding: 0 10px; 
        } 
    }
}
p{
    font-size: 16px;
    font-weight: 400;
}

.text-light{
    font-weight: 300;
}
.text-medium{
    font-weight: 500;
}
.text-bold, button .text-bold{
    font-weight: 700;
}
.opacity-70{
    color: rgba(60, 59, 54, 0.7);
}
.fs-14{
    font-size: 14px;
}

/* SPACING */
h1{
    padding-bottom: 10px;
}
main{
    padding: 91.4px 20px 0px 20px;
}

@media(min-width: 1050px){
    main{
        padding: 91.4px 50px 0 50px
    }
}

/* MAIN */
main{
    &.add-page{
        padding-top: 163.4px;
    }
    &.map{
        padding: 92.4px 0 0 0;
        height: calc(100vh - 100.4px);
        & .maps{
            height: 100vh !important;
        }
    }
    &.add-page{
        padding-bottom: 20px;
    }
}
.mappa{
    margin-top: 91.4px;
    height: calc(100vh - 91.4px - 62.6px);
    & .button{
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 90px;
    }
}

@media(min-width:1050px){
    main{
        &.home{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 50px;
            padding-right: 0;
            & .locations{
                padding-top: 0;
            }
        }
        &.map{
            padding-top: 0;
        }
        &.add-page{
            padding-bottom: 50px;
        }
    }
    .scroll{
        overflow-x: scroll;
        height: calc(100vh - 92.4px - 100.4px);
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }
    }
}

/* CLASS */
.hide-on-mobile{
    display: none;
}
@media(min-width: 1050px){
    .hide-on-mobile{
        display: block;
    }
    .hide-on-desktop{
        display: none;
    }
}

.pigeon-zoom-buttons {
    top: 20px !important;
    left: 20px !important;
}